
<!-- Section 2 -->

  <div class="pt-5 px-5 my-5">

          <!--Grid row-->
      <div class="row wow fadeIn mt-3 py-4">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">

          <!--First row-->
          <div class="row">
            <div class="col-12 text-right">
              <h3 class="mb-3 feature-title">
              <strong> <%= about.arabouttitle %> </strong></h3>
              <p class="mb-3 grey-text"> <%- about.araboutdescription %> </p>
              <img class="mb-3 img-fluid" src="uploads/aboutimage.jpg" style="width: 90%"></img>
              <h5 class="my-3 feature-title"><strong><%= about.araboutsubtitle %></strong></h5>
              <p class="mb-3 ml-4 grey-text"> <%- about.araboutsubtitledescription %> </p>
              <h5 class="mb-3 feature-title"><strong> <%= about.araboutteamtitle %> </strong></h5>
                <p class="mb-3 grey-text"> <%- about.araboutteamdescription %> </p>
            </div>
          </div>
          <!--/First row-->

          <!--Grid row-->
          <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 px-4">

              <!--First row-->
              <div class="row">
                <div class="col-12 text-center">

                  <img class="mb-3" src="uploads/teamimage1.jpg" style="border-radius: 30px; height: 300px; width: 300px;"></img>
                  <h5 class="mb-0 feature-title"><strong> <%- about.arteam1name %> </strong></h5>
                  <p class="grey-text"> <%- about.arteam1title %> </p>


                </div>
              </div>
              <!--/First row-->

            </div>
            <!--/Grid column-->

            <!--Grid column-->
              <div class="col-lg-6 col-md-12">

                <!--First row-->
                <div class="row">

                  <div class="col-12 text-center">

                    <img class="mb-3" src="uploads/teamimage2.jpg" style="border-radius: 30px; height: 300px; width: 300px;"></img>
                    <h5 class="mb-0 feature-title"><strong> <%- about.arteam2name %> </strong></h5>
                    <p class="grey-text"> <%- about.arteam2title %> </p>

                  </div>
                </div>
                <!--/First row-->
              </div>
              <!--/Grid column-->
          </div>
          <!-- Grid Row -->
            <hr>

        </div>
        <!--/Grid column-->

        <!--Grid column-->

        <div class="col-lg-2 col-md-12">
          <div class="card rounded p-3">
          <!--First row-->
          <div class="row">

            <div class="col-12 text-center justify-content-center">
              <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
              تواصل معنا
              </strong></h5>
              <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
              <p class="mb-3 grey-text"><%- sidebars.arcontact %></p>
              <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
              تواصل معنا
              </a>
            </div>
          </div>
          <!--/First row-->
          <!-- Second Row -->
          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                 تأسيس الشركات
              </strong></h5>
              <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text"><%- sidebars.arsetup %></p>
              <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                لمعرفة المزيد
              </a>
            </div>
          </div>

          <!-- Second Row -->

          <!-- Third Row -->


          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/offices"> <h5 class="mb-3 feature-title black-text">
              <strong>
                مركز الإمضاء لخدمات الأعمال
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text"><%- sidebars.arservice %></p>
              <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
              </a>
            </div>
          </div>
          <!-- Third Row -->
          </div>
        </div>
          <!--/Grid column-->


      </div>




  </div>
<!-- Section 2 -->
