
  <div class=" my-5 p-5 text-right">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div id="faq" class="col-lg-10 col-md-12">

          <div>
            <h3 class="mb-3"><strong> <%= faq.arfaqtitle %> </strong></h3>
            <p class="mb-3 grey-text"><%- faq.arfaqdescription %></p>
          </div>

          <div>
            <%- faq.arfaqs %>
          </div>

        </div>
        <!--/Grid column-->

        <!--Grid column-->

        <div class="col-lg-2 col-md-12">
          <div class="card rounded p-3">
          <!--First row-->
          <div class="row">

            <div class="col-12 text-center justify-content-center">
              <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
              تواصل معنا
              </strong></h5>
              <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
              <p class="mb-3 grey-text"><%- sidebars.arcontact %></p>
              <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
              تواصل معنا
              </a>
            </div>
          </div>
          <!--/First row-->
          <!-- Second Row -->
          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                 تأسيس الشركات
              </strong></h5>
              <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text"><%- sidebars.arsetup %></p>
              <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                لمعرفة المزيد
              </a>
            </div>
          </div>

          <!-- Second Row -->

          <!-- Third Row -->


          <div class="row">

            <div class="col-12 text-center">
              <hr class="my-3">
              <a href="/ar/offices"> <h5 class="mb-3 feature-title black-text">
              <strong>
                مركز الإمضاء لخدمات الأعمال
              </strong></h5>
              <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
              <p class="mb-3 grey-text"><%- sidebars.arservice %></p>
              <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
              </a>
            </div>
          </div>
          <!-- Third Row -->
          </div>
        </div>
          <!--/Grid column-->



      </div>
  </div>
