
  <div class=" my-5 p-5 text-right">


          <!--Grid row-->
      <div class="row mt-5">

        <!--Grid column-->
        <div class="col-lg-10 col-md-12">
<!--
          <div class="mx-0 px-0 ">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white pl-0">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
          </div> -->

              <div>
                <h3><strong>
                  عملاؤنا
                </strong></h3>
                <p>
                  اقرأ آراء عملائنا بخدماتنا.
                </p>
              </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src= <%= testimonials[0].testimonialImage %>>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>
                    <%= testimonials[0].arcompany %>
                  </h3>
                  <p class="font-italic">
                    <%= testimonials[0].artestimonial %>
                  <p class="grey-text">
                    <%= testimonials[0].arperson %>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>
                    <%= testimonials[1].arcompany %>
                  </h3>
                  <p class="font-italic">
                    <%= testimonials[1].artestimonial %>
                  </p>
                  <p class="grey-text">
                      <%= testimonials[1].arperson %>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src=<%= testimonials[1].testimonialImage %>>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src= <%= testimonials[2].testimonialImage %>>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-0">
                  <h3>
                    <%= testimonials[2].arcompany %>
                  </h3>
                  <p class="font-italic">
                    <%= testimonials[2].artestimonial %>
                  <p class="grey-text">
                    <%= testimonials[2].arperson %>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="p-4 p-md-5 text-black">
              <div class="row px-0 bg-white">
                <div class="col-lg-6 col-md-12 pt-3">
                  <h3>
                    <%= testimonials[3].arcompany %>
                  </h3>
                  <p class="font-italic">
                    <%= testimonials[3].artestimonial %>
                  </p>
                  <p class="grey-text">
                      <%= testimonials[3].arperson %>
                  </p>
                </div>
                <div class="col-lg-6 col-md-12 pt-3 text-center">
                  <img class="img-fluid" src=<%= testimonials[3].testimonialImage %>>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!--/Grid column-->

        <!--Grid column-->
          <div class="col-lg-2 col-md-12">
            <div class="card rounded p-3">
            <!--First row-->
            <div class="row">

              <div class="col-12 text-center justify-content-center">
                <a href="" data-toggle="modal" data-target="#message">  <h5 class="mb-3 feature-title black-text"><strong>
                تواصل معنا
                </strong></h5>
                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                <p class="mb-3 grey-text"> <%= sidebars.arcontact %> </p>
                <a data-toggle="modal" data-target="#message" class="mb-3 btn btn-blue btn-sm rounded p-2">
                تواصل معنا
                </a>
              </div>
            </div>
            <!--/First row-->
            <!-- Second Row -->
            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/ar/setup"> <h5 class="mb-3 feature-title black-text"><strong>
                   تأسيس الشركات
                </strong></h5>
                <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text"> <%= sidebars.arsetup %> </p>
                <a target="" href="/ar/setup" class="mb-3 btn btn-blue btn-sm rounded p-2">
                  لمعرفة المزيد
                </a>
              </div>
            </div>

            <!-- Second Row -->

            <!-- Third Row -->


            <div class="row">

              <div class="col-12 text-center">
                <hr class="my-3">
                <a href="/ar/offices"> <h5 class="mb-3 feature-title black-text">
                <strong>
                  مركز الإمضاء لخدمات الأعمال
                </strong></h5>
                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                <p class="mb-3 grey-text"> <%= sidebars.arservice %> </p>
                <a target="" href="/ar/offices" class="mb-3 btn btn-blue btn-sm rounded p-2">
                    لمعرفة المزيد
                </a>
              </div>
            </div>
            <!-- Third Row -->
            </div>
          </div>
          <!--/Grid column-->

      </div>
  </div>
