


<div class=" my-5 p-5">
        <!--Grid row-->
    <div class="text-left pt-5">
      <h3 class="feature-title"><strong>Latest At Signature</strong></h3>
    </div>
          <!--Grid row-->
    <div class="row mt-4">

      <div class="col-lg-6 col-md-12">
        <% blogs.forEach(function( eachBlog) { %>
        <div class="row">
          <div class="col-12">
            <div id="accordion">
              <div class="card mt-3">
                  <div class="row">
                  <div class="col-lg-6 col-md-12 text-center">
                    <img class="img-fluid p-3" src=<%= eachBlog.blogImage %>>
                  </div>
                  <div class="col-lg-6 col-md-12 p-3">
                    <div class="p-3">
                    <h1><%= eachBlog.title %></h1>
                    <p class="blue-text"><%= eachBlog.date %></p>
                    <p class="pr-3"> <%= eachBlog.headline %></p>
                    <div id="<%= eachBlog.collapseId %>" class="collapse" data-parent="#accordion">
                    <div> <%- eachBlog.details %>
                    </div>
                    </div>
                    <a href="<%= eachBlog.collapseHref %>" data-toggle="collapse" class="collapsed"></a>
                  </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
              <% }) %>
            <div class="col-12 text-left mt-5 p-0">
              <a href="/en/bloglist">Click for more...</a>
            </div>
          </div>

  <!-- Embedded Social Media -->
    <div class="col-lg-6 col-md-12 m-0">
      <div class="row mt-3">
        <div class="col-lg-6 col-md-12 text-center">
          <div>
          <h3 class="mb-3"><strong>Signature on Twitter</strong></h3>
          </div>
          <a class="twitter-timeline" href="https://twitter.com/SignatureDXB?ref_src=twsrc%5Etfw" data-limit="3">Tweets by SignatureDXB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
        <div class="col-lg-6 col-md-12 text-center justify-content-center">
          <div>
          <h3 class="mb-3"><strong>Signature on Facebook</strong></h3>
          </div>

          <div class="fb-page" data-href="https://www.facebook.com/pages/Signature/364761476378" data-tabs="timeline" data-width="500px" data-height="1000px" data-small-header="true"  data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pages/Signature/364761476378" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pages/Signature/364761476378">‏‎Signature Businessmen Services‎‏</a></blockquote></div>

        </div>
      </div>
      </div>


  </div>
</div>
