<div class="my-5 py-5" style="min-height: 100vh;">
<div class="container">

  <div class="text-left p-3">

    <h3 class="feature-title"><strong>Blog Update</strong></h3>
      </div>

<div class="col-12 mb-3">
  <% blogs.forEach(function( eachBlog) { %>
  <form method="post" action="/editblog/<%= eachBlog._id %>" enctype="multipart/form-data">
  <div class="row">
    <div class="col-12">

        <div class="card">
            <div class="w-100">
              <div class="p-3">

                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/adminpage">Home</a></li>
                    <li class="breadcrumb-item"><a href="/bloglistedit">Blogs List</a></li>
                    <% blogs.forEach(function( eachBlog) { %><li class="breadcrumb-item active" aria-current="page"><%= eachBlog.title %></li><% }) %>
                  </ol>
                </nav>

              </div>

            <div class="row px-4">
              <div class="col-12 px-5">

                  <div class="form-group row">
                      <div class="p-0 col-12">
                       <%- typeof msg != 'undefined' ? msg: '' %>
                      </div>


                      <label class="col-lg-3 col-md-12 col-form-label col-form-label-sm" style="padding-left: 0" for="imageinput">Update Image: </label>
                      <input class="bg-light form-control col-lg-9 col-md-12 form-control-sm py-0" type="file" id="imageinput" name="blogImage" value=""/>
                  </div>

                  <div class="form-group row">
                    <label for="title" class="col-lg-3 col-md-12 col-form-label col-form-label-sm" style="padding-left: 0">Title:</label>
                    <input type="text" class="form-control col-lg-9 col-md-12 form-control-sm" name="title" id="title" placeholder="Title" value='<%= eachBlog.title %>'></input>
                  </div>

                  <div class="form-group row">
                    <label for="date" class="col-lg-3 col-md-12 col-form-label col-form-label-sm" style="padding-left: 0">Date:</label>
                    <input class="form-control col-lg-9 col-md-12 form-control-sm" type="text" id="date" name="date" placeholder="Date" value='<%= eachBlog.date %>'></input>
                  </div>

                  <div class="form-group row">
                    <label for="headline" class="col-lg-3 col-md-12 col-form-label col-form-label-sm" style="padding-left: 0">Headline:</label>
                    <textarea class="form-control col-lg-9 col-md-12 form-control-sm" id="headline" rows="5" name="headline" placeholder="Headline" value=''><%- eachBlog.headline %></textarea>
                  </div>

                  <div class="form-group row">
                    <label for="details" class="col-lg-3 col-md-12 col-form-label col-form-label-sm" style="padding-left: 0">Enter the rest of the information here:</label>
                    <textarea id="summernote" class="summernote col-lg-9 col-md-12 form-control form-control-sm" name="details" id="details" placeholder=" " value=''><%- eachBlog.details %></textarea>
                  </div>

              </div>


            </div>
            <button class="btn btn-primary my-3 float-right rounded mr-5">Update</button>
            </div>
            </div>
            </div>

        </div>

      </form>
        <% }) %>
      </div>


        <div class="col-12">
          <% blogs.forEach(function( eachBlog) { %>
          <div class="row">
            <div class="col-12">
              <div id="accordion">
                <div class="card">
                  <!-- <div class="text-left breadcrumb p-2">
                    <h5 class="feature-title">Blog Preview</h5>
                    </div> -->

                    <nav class="mx-3 mt-3" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">Blog Preview</li>
                      </ol>
                    </nav>
                    <div class="row">

                    <div class="col-lg-6 col-md-12 text-center">
                      <img class="img-fluid p-3" src=<%= eachBlog.blogImage %>>
                    </div>
                    <div class="col-lg-6 col-md-12 p-3">
                      <div class="p-3">
                      <h1><%= eachBlog.title %></h1>
                      <p class="blue-text"><%= eachBlog.date %></p>
                      <p class="pr-3"> <%= eachBlog.headline %></p>
                      <div id="<%= eachBlog.collapseId %>" class="collapse" data-parent="#accordion">
                      <div> <%- eachBlog.details %>
                      </div>
                      </div>
                      <a href="<%= eachBlog.collapseHref %>" data-toggle="collapse" class="collapsed"></a>
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
                <% }) %>
            </div>
    </div>

    </div>
