  <div class="container" id="homepageform">
    <div class="col-12 mt-5 pt-5">
      <div>
        <h3 class="feature-title"><strong>Edit FAQ Page</strong></h3>
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/adminpage">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit FAQ Page</li>
            </ol>
          </nav>
          <%- typeof msg != 'undefined' ? msg: '' %>
        </div>
      </div>
    </div>

  <form method="post" action="/editfaqspage" id="mainform">



    <div class="col-lg-12 col-md-12 mb-3">
      <div class="pb-5 mb-5">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Engish</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-arabic" role="tab" aria-controls="nav-profile" aria-selected="false">Arabic</a>
          </div>
        </nav>

        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <!--Grid row-->
            <div class="row wow fadeIn mt-3">
              <!--Grid column-->
              <div class="col-lg-9 col-md-12">
                <!--First row-->
                <div class="row">
                  <div class="col-12 text-left">
                    <h3 title="Click to update information" class="mb-3 feature-title faqtitle boxsizingBorder"><input type="text" name="faqtitle" value="<%= faq.faqtitle %>" style="border: 0; width: 100%; font-weight: bold; cursor: pointer"></h3>
                    <p title="Click to update information" class="mb-3 faqdescription grey-text boxsizingBorder"><textarea class="summernote2" name="faqdescription" rows="10" cols="100%" style="border: 0; color: grey; width: 100%; cursor: pointer"><p class="mb-3 grey-text">Click on any of your questions below to see the answer. Like what you see? Well, Contact Us to arrange a hassle-free consultation.</p></textarea></p>
                    <p title="Click to update information" class="mb-3 faqs"><textarea class="summernote2" name="faqs" rows="13" cols="100%" style="border: 0; width: 100%; cursor: pointer"> <%- faq.faqs %> </textarea></p>

                  </div>
                </div>
                <!--/First row-->
              </div>

              <!--/Grid column-->

              <!--Grid column-->

                <div class="col-lg-3 col-md-12">
                  <div class="card rounded p-3">
                  <!--First row-->
                  <div class="row">

                    <div class="col-12 text-center justify-content-center">
                      <a>  <h5 class="mb-3 feature-title black-text"><strong>Contact Us</strong></h5>
                      <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                      <p title="Click to update information" class="mb-3 grey-text"><textarea name="contact" class="summernote2 text-center" rows="8" style="border: 0; color: grey; width: 100%; cursor: pointer"><%- sidebars.contact %></textarea></p>
                      <a class="mb-3 btn btn-blue btn-sm rounded p-2">Contact Us</a>
                    </div>
                  </div>
                  <!--/First row-->
                  <!-- Second Row -->
                  <div class="row">
                    <div class="col-12 text-center">
                      <hr class="my-3">
                      <a> <h5 class="mb-3 feature-title black-text"><strong>Business Set-up?</strong></h5>
                      <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
                      <p title="Click to update information" class="mb-3 grey-text"><textarea name="setup" class="summernote2 text-center" rows="12" style="border: 0; color: grey; width: 100%; cursor: pointer"><%- sidebars.setup %></textarea></p>
                      <a class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
                    </div>
                  </div>
                  <!-- Second Row -->

                  <!-- Third Row -->
                  <div class="row">
                    <div class="col-12 text-center">
                      <hr class="my-3">
                      <a> <h5 class="mb-3 feature-title black-text"><strong>Serviced Offices</strong></h5>
                      <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                      <p title="Click to update information" class="mb-3 grey-text"><textarea name="service" class="summernote2 text-center" rows="12" style="border: 0; color: grey; width: 100%; cursor: pointer"><%- sidebars.service %></textarea></p>
                      <a class="mb-3 btn btn-blue btn-sm rounded p-2">Find Out More</a>
                    </div>
                  </div>
                  <!-- Third Row -->

                  </div>
                </div>
                <!--/Grid column-->

              </div>
              </div>




              <!-- ARABIC -->

              <div class="tab-pane fade show" id="nav-arabic" role="tabpanel" aria-labelledby="nav-arabic-tab">

                          <!--Grid row-->
                      <div class="row wow fadeIn mt-3" dir="rtl">
                        <!--Grid column-->
                        <div class="col-lg-9 col-md-12 text-right">

                          <!--First row-->
                          <div class="row">
                            <div class="col-12 text-right">
                              <h3 title="Click to update information" class="mb-3 feature-title arfaqtitle boxsizingBorder"><input type="text" name="arfaqtitle" dir="rtl" value="<%= faq.arfaqtitle %>" style="border: 0; width: 100%; font-weight: bold; cursor: pointer"></h3>
                              <p title="Click to update information" class="mb-3 arfaqdescription grey-text boxsizingBorder"><textarea class="summernote2" name="arfaqdescription" rows="10" cols="100%" dir="rtl" style="border: 0; color: grey; width: 100%; cursor: pointer"><%- faq.arfaqdescription %></textarea></p>

                              <p title="Click to update information" class="mb-3 arfaqs"><textarea class="summernote2" name="arfaqs" dir="rtl"  rows="13" cols="100%" style="border: 0; width: 100%; cursor: pointer"> <%- faq.arfaqs %> </textarea></p>

                            </div>
                          </div>
                          <!--/First row-->
                        </div>

                        <!--/Grid column-->

                        <!--Grid column-->

                          <div class="col-lg-3 col-md-12">
                            <div class="card rounded p-3">
                            <!--First row-->
                            <div class="row">

                              <div class="col-12 text-center justify-content-center">
                                <a>  <h5 class="mb-3 feature-title black-text"><strong>
                                تواصل معنا
                                </strong></h5>
                                <i class="mb-3 fas fa-phone sd-bar-icons"></i> <a/>
                                <p title="Click to update information" class="mb-3 grey-text"><textarea name="arcontact" class="summernote2 text-center" rows="8" style="border: 0; color: grey; width: 100%; cursor: pointer"> <%- sidebars.arcontact %> </textarea></p>
                                <a class="mb-3 btn btn-blue btn-sm rounded p-2">
                                تواصل معنا

                                </a>
                              </div>
                            </div>
                            <!--/First row-->
                            <!-- Second Row -->
                            <div class="row">
                              <div class="col-12 text-center">
                                <hr class="my-3">
                                <a> <h5 class="mb-3 feature-title black-text"><strong>
                                   تأسيس الشركات
                                </strong></h5>
                                <i class="mb-3 fas fa-handshake sd-bar-icons"></i> </a>
                                <p title="Click to update information" class="mb-3 grey-text"><textarea name="arsetup" class="summernote2 text-center" rows="12" style="border: 0; color: grey; width: 100%; cursor: pointer;"> <%- sidebars.arsetup %> </textarea></p>
                                <a class="mb-3 btn btn-blue btn-sm rounded p-2">
                                  لمعرفة المزيد
                                </a>
                              </div>
                            </div>
                            <!-- Second Row -->
                            <!-- Third Row -->
                            <div class="row">
                              <div class="col-12 text-center">
                                <hr class="my-3">
                                <a> <h5 class="mb-3 feature-title black-text"><strong>
                                   تأسيس الشركات
                                </strong></h5>
                                <i class="mb-3 fas fa-key sd-bar-icons"></i> </a>
                                <p title="Click to update information" class="mb-3 grey-text"><textarea name="arservice" class="summernote2 text-center" rows="12" style="border: 0; color: grey; width: 100%; cursor: pointer;"> <%- sidebars.arservice %> </textarea></p>
                                <a class="mb-3 btn btn-blue btn-sm rounded p-2">
                                  لمعرفة المزيد
                                </a>
                              </div>
                            </div>
                            <!-- Third Row -->
                            </div>
                          </div>
                          <!--/Grid column-->
                      </div>



              </div>
            </div>
            <hr class="mt-4 mb-2" style="background-color: #4285f4 ">
            <button class="btn btn-primary my-3 mr-4 float-right rounded">Update</button>
            <a href="/adminpage" class="btn btn-danger my-3 mx-1 float-right rounded">Cancel</a>
          </div>
        </div>



  </form>
  </div>



<!-- PREVIEW PAGE -->

   <!-- Section 2 -->
