<div class=" my-5 py-5" style="min-height: 100vh;">
<div class="container">
        <!--Grid row-->
    <div class="text-left pt-4">
      <div class="row">
      <div class="col-8">
      <h3 class="feature-title"><strong>User List</strong></h3>
      </div>
      <div class="col-4 text-right">
      <a class="btn btn-success btn-sm m-0 rounded" href="/adduser">Add</a>
      </div>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/adminpage">Home</a></li>
          <li class="breadcrumb-item"><a>User List</a></li>
        </ol>

      </nav>
    </div>
    <div>

    </div>
          <!--Grid row-->
    <div class="mt-4 px-3">

      <nav>
        <div class="row">
        <div class="col-lg-4 col-md-8 p-0 nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Active</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-arabic" role="tab" aria-controls="nav-profile" aria-selected="false">Inactive</a>

        </div>
        <div class="col-lg-8 col-md-4 p-0 nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-arabic" role="tab" aria-controls="nav-profile" aria-selected="false"></a>
        </div>
        </div>
      </nav>

      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


      <table class="table" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Name
          </th>
          <th class="th-sm">Username
          </th>
          <th class="th-sm">Created On
          </th>
          <th class="th-sm">Action
          </th>
          <th class="th-sm d-none">Id
          </th>

        </tr>
      </thead>

      <tbody>

        <% users.forEach(function( eachUser) { %>
          <% if (eachUser.isAdmin == "Yes") { %>
        <tr>

          <td><strong><%= eachUser.username %></strong></td>
          <td><%= eachUser.email %></td>
          <td><%= eachUser.timestamp %></td>
          <td>
            <div class="row text-center">

            <a class="btn btn-primary btn-sm" href="/edituser/<%= eachUser._id %>">Edit</a>
            </div>
          </td>
          <td class="d-none"><%= eachUser._id %></td>

        </tr>
          <% } %>
          <% }) %>

      </tbody>

      </table>

    </div>

    <div class="tab-pane fade show" id="nav-arabic" role="tabpanel" aria-labelledby="nav-arabic-tab">

      <table class="table" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Name
          </th>
          <th class="th-sm">Username
          </th>
          <th class="th-sm">Created On
          </th>
          <th class="th-sm">Action
          </th>
          <th class="th-sm d-none">Id
          </th>

        </tr>
      </thead>

      <tbody>

        <% users.forEach(function( eachUser) { %>
          <% if (eachUser.isAdmin == "No") { %>
        <tr>

          <td><strong><%= eachUser.username %></strong></td>
          <td><%= eachUser.email %></td>
          <td><%= eachUser.timestamp %></td>
          <td>
            <div class="row text-center">

            <a class="btn btn-primary btn-sm" href="/edituser/<%= eachUser._id %>">Edit</a>
            </div>
          </td>
          <td class="d-none"><%= eachUser._id %></td>

        </tr>
        <% } %>
        <% }) %>

      </tbody>

      </table>

    </div>





    </div>
  </div>



</div>
</div>
